
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;

    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


header {
  position: fixed;
  top:0;
  z-index: 2;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  padding: 4 8rem;
  align-items: center;
}

/* 
posicionamento de Home, About and Contact*/
nav a {
color:black;
top: -35px;
right: 120%;

}

h1 {
  position:fixed;
  right: 50%;
  transform: translatex(50%);
}


footer {
  text-align: center;
  height: 20vh;
  padding: 2hv;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}


.divCabecalho{
  padding-top: 5vh;
  width: 100vw;
  border: 0px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.foto {
  justify-content: center;
  text-align: center;
  width: center;
}

div.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 0rem;
  margin-top: 7%;
  height: 7vh;

}

.divGeral{
  width: 70vw;
  border: 0px solid white;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-left: 15vw;
  margin-bottom: 1vh;
}

.divTituloTabela{
  width: 100%;
  background-color: white;
  height: 5vh;
  display: flex;
  flex-direction: row;
  opacity: 0.7;  
  align-items: center;
  justify-content: center;
}

.divCelulaAno{
  border: 1px solid black;
  padding: 2px;
  width: 15vw;
  background-color: white;
  height: 5vh;
  opacity: 0.7;  
  margin-right: 10px;
  align-items: center;
  justify-content: center;  
}

.divCelulaCargo{
  border: 1px solid black;
  padding: 2px;
  width: 35vw;
  background-color: white;
  height: 5vh;
  opacity: 0.7;  
  align-items: center;
  justify-content: center;  
}

.divCelulaCargo:not(:last-child) {
  margin-right: 10px;
}


.divCelulaExperiencia{
  border: 1px solid black;
  padding: 2px;
  width: 100%;
  background-color: white;
  height: 5vh;
  opacity: 0.7;  
  align-items: center;
  justify-content: center;  
}

.divCelulaCurso{
  border: 1px solid black;
  padding: 2px;
  width: 60vw;
  background-color: white;
  height: 5vh;
  opacity: 0.7;  
  align-items: center;
  justify-content: center;  
  margin-right: 10px;
}

.divCelulaInstituicao{
  border: 1px solid black;
  padding: 2px;
  width: 15vw;
  background-color: white;
  height: 5vh;
  opacity: 0.7;  
  align-items: center;
  justify-content: center;  
}

@media only screen and (max-device-width: 500px) {
  .divCabecalho{
    padding-top: 17vh;
    padding-bottom: 2vh;
    width: 100vw;
    border: 0px solid white;
    display: flex;
    flex-direction: column;
  
  }

  .espacoEntreBotoes{
    margin-bottom: 1vh;
  }
 
  .divGeral{
    width: 96vw;
    margin-left: 2vw;
    font-size: 0.8rem;
  }

}